#message {
  font-size: x-large;
  font-weight: bold;
  color: brown;
}

#output {

}

#search {
  padding-bottom: 10pt;
  padding-left: 10pt;
  margin-top: 20pt;
  background-color: blanchedalmond;
  border-style: double;
  border-color: cadetblue;
}